body {
   font-size: 20pt;
   font-family: Times, serif;
   background-color: #ffffff;
   text-align: justify;
}

h1 {
   font-size: 30pt;
   font-family: Veranda, Arial, Helvetica, sans-serif;
   color: #b30000;
   text-align: center;
}

h2 {
   font-size: 20pt;
   font-family: Helvetica, Arial, sans-serif;
   color: #b30000;
   text-align: center;
}

h3 {
   font-size: 15pt;
   font-family: Helvetica, Arial, sans-serif;
   color: #b30000;
   }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="# " class="index.html">HOME</a>
    <a href="#hadestown " class="Hadestown Home.html">Hadestown</a>
    <a href="#king lear" class="King Lear Home">King Lear</a>
    <a href="#oedipus rex" class="Oedipus Rex Home">Oedipus Rex</a>
   
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>
