body {
   font-size: 20pt;
   font-family: Times, serif;
   background-color: #ffffff;
   text-align: justify;
}

h1 {
   font-size: 30pt;
   font-family: Veranda, Arial, Helvetica, sans-serif;
   color: #b30000;
   text-align: center;
}

h2 {
   font-size: 20pt;
   font-family: Helvetica, Arial, sans-serif;
   color: #b30000;
   text-align: center;
}

h3 {
   font-size: 15pt;
   font-family: Helvetica, Arial, sans-serif;
   color: #b30000;
   }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style="margin-left:25%">
... page content ...
</div>
